*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html,#root{
    width: 100%;
    height: 100%;
    font-family: Merriweather, serif;
    background-color:#0d1412;
    color: white;
}